// Fonts
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

// Colors
$yellow: #fed116;
$green: #009e61;
$gray: #f3f4f6;
$black: #1a202e;

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  color: $black;
  font-weight: normal;
  margin: 0;
  padding: 0;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  font-family: "Epilogue", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
}

.xl {
  width: 1280px;
  margin: 0 auto;
  max-width: 95%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 2px solid $gray;
  .xl {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
    }
    &__options {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 0 3rem;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        span {
          display: inline-block;
          font-weight: bold;
        }
        @media screen and (max-width: 860px) {
          display: none;
        }
      }
    }
  }
  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 4px;
      padding: 0.5rem 1rem;
      background: #fff;
      cursor: pointer;
      transition: 0.3s ease;
      span {
        font-weight: bold;
        display: inline-block;
        line-height: 18px;
        @media screen and (max-width: 640px) {
          display: none;
        }
      }
    }
    .upload {
      border: 2px solid $green;
      span {
        color: $green;
      }
      &:hover {
        background: #f1f5f9;
      }
    }
    .github {
      border: none;
      span {
        color: $black;
      }
      &:hover {
        span {
          color: rgba($color: $black, $alpha: 0.75);
        }
      }
    }
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: rgba($color: $green, $alpha: 0.03);
  .xl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px dashed $yellow;
    border-right: 2px dashed $green;
    z-index: 3;
    background: #fff;
  }
  &-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 750px;
    max-width: 95%;
    margin-top: 7.5rem;
    margin-bottom: 4rem;
    @media screen and (max-width: 860px) {
      margin-top: 5rem;
    }
    h1 {
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 32px;
    }
    h3 {
      font-size: 1rem;
      line-height: 24px;
      margin-bottom: 1rem;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      border-radius: 4px;
      padding: 0.6rem 1rem;
      background: $yellow;
      border: 2px solid #fff;
      cursor: pointer;
      transition: 0.3s ease;
      span {
        font-weight: bold;
        display: inline-block;
        line-height: 18px;
      }
      &:hover {
        box-shadow: 0 0 0 2px $yellow;
      }
    }
  }
  &-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;

    @media screen and (max-width: 860px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;

      background: #fff;
      border: 1px solid #f3f4f6;

      cursor: pointer;
      transition: 0.3s ease;

      &:hover {
        background: rgba($color: $yellow, $alpha: 0.1);
      }

      // &:nth-child(odd) {
      //   background: #f3f4f6;
      //   border: 1px solid #f3f4f6;
      // }
      // &:nth-child(even) {
      //   background: #fff;
      //   border: 1px solid #f3f4f6;
      // }
    }
  }
  .bg-lines {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    z-index: -1;
    .bg-line {
      border-right: 2px $gray;
      width: 100%;
      height: 100%;
      &:nth-child(even) {
        border-right-style: dashed;
      }
      &:nth-child(odd) {
        border-right-style: solid;

        @media screen and (max-width: 728px) {
          display: none;
        }
      }
    }
    @media screen and (max-width: 728px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: $black, $alpha: 0.5);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  &.overlay-active {
    display: flex;
  }

  .card-upload {
    z-index: 10;

    width: 900px;
    max-width: 90%;
    z-index: 10;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 2rem;
    border-radius: 4px;

    max-height: 90vh;

    &.hide {
      display: none;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &__form {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      overflow-y: scroll;
      padding-right: 5px;
      &::-webkit-scrollbar {
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: $green;
        border-radius: 4px;
      }
      .form-text {
        width: 50%;
        display: grid;
        grid-gap: 1rem;
        grid-template-areas: "title title" "description description" "facebook twitter" "github linkedin" "category category";
        input,
        textarea {
          resize: none;
          outline: none;
          border: 2px solid #E5E5E5;
          font-size: 14px;
          color: #97A6BA;
          border-radius: 4px;
          padding: .75rem 1rem;
          &::placeholder{
            color: #97A6BA;
          }
          &:focus{
            border-color: $green;
          }
          &:nth-child(1) {
            grid-area: title;
          }
          &:nth-child(2) {
            grid-area: description;
          }
          &:nth-child(3) {
            grid-area: facebook;
          }
          &:nth-child(4) {
            grid-area: twitter;
          }
          &:nth-child(5) {
            grid-area: github;
          }
          &:nth-child(6) {
            grid-area: linkedin;
          }
          &:nth-child(7) {
            grid-area: category;
          }
        }
      }
      .form-media {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        div {
          width: 200px;
          height: 120px;
          background: #f1f5f9;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 1rem;
          padding: 0 1rem;
          cursor: pointer;
          p {
            text-align: center;
            font-size: 14px;
            span {
              font-size: 14px;
              font-weight: bold;
            }
          }
          &:hover {
            border: 2px solid $green;
          }
        }
      }
      @media screen and (max-width: 960px) {
        .form-text{
          width: 100%;
          grid-template-areas: "title" "description" "facebook" "twitter" "github" "linkedin" "category";
        }
        .form-media{
          width: auto;
          margin: 0 3rem;
        }
      }
      @media screen and (max-width: 840px) {
        flex-direction: column;
        gap: 1rem;
        .form-text{
          width: 100%;
        }
        .form-media{
          width: 100%;
          flex-direction: row;
          justify-content: center;
          margin: 0;
        }
      }
      @media screen and (max-width: 540px) {
        flex-direction: column;
        gap: 1rem;
        .form-text{
          width: 100%;
        }
        .form-media{
          width: 100%;
          flex-direction: column;
          div{
            width: 100%;
          }
        }
      }
    }

    &__submit {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      button {
        cursor: pointer;
        border-radius: 4px;
        transition: 0.3s ease;
        &:hover {
          //box-shadow: 0 0 0 2px rgba($color: $green, $alpha: .3);
        }
      }
      button:first-child {
        background: $green;
        color: #fff;
        font-weight: bold;
        padding: 0.6rem 1rem;
        border: 2px solid $green;
      }
      button:last-child {
        background: #fff;
        color: #dc2626;
        font-weight: bold;
        padding: 0.6rem 1rem;
        border: 2px solid #dc2626;
      }
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }

  .card-download {
    width: 900px;
    max-width: 90%;
    z-index: 10;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1.5rem;
    border-radius: 4px;

    &.hide {
      display: none;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
      .card-download__infos {
        justify-content: center;
        align-items: center;
        p {
          text-align: center;
        }
      }
    }

    &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    &__logo {
      width: 280px;
      height: 280px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $gray;
      flex-shrink: 0;
      img {
      }
    }
    &__infos {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 0.75rem;
      p {
        font-size: 16px;
        line-height: 18px;
      }
      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
      &-button {
        margin-bottom: 3rem;
        @media screen and (max-width: 460px) {
          flex-direction: column;
          width: 100%;
          button {
            width: 100%;
          }
        }
        button {
          padding: 0.6rem 1rem;
          font-weight: bold;
          border-radius: 5px;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 0 2px rgba($color: $green, $alpha: 0.3);
          }
        }
        button:first-child {
          border: 2px solid $green;
          background: $green;
          color: #fff;
        }
        button:last-child {
          border: 2px solid $black;
          background: #fff;
          color: $black;
        }
      }
    }
  }
}
